
body {
    margin: 0;
    min-width: 490px;
    text-align: center;
    font: normal 18px 'Consolas';
}

a, img, input:where(
    [type='button'], 
    [type='submit'], 
    [type='checkbox']
), #mSenhaLabel, table tbody tr {
    cursor: pointer;
}

a {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

a:where(:hover, :active, .active) {
    color: rgb(170, 170, 170);
}

a.active,
input:where(
    :disabled:not([type='text']),
    [type='text']:read-only
) {
    cursor: not-allowed;
}

nav {
    background: #000000;
    overflow: hidden;
}

nav > a {
    font-size: 14px;
    padding: 10px;
}

nav > a:not(#logout) {
    float: left;
    border-right: 1px solid gray;
}

nav > a#logout {
    float: right;
    border-left: 1px solid gray;
}

.dropdown {
    overflow: hidden;
    font-size: 14px;
    padding: 10px 0px;
}

.dropdown > a {
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    background: #000000;
}

.dropdown-content > a {
    float: none;
    display: block;
    font-size: 14px;
    padding: 10px;
    border-top: 1px solid gray;
}

#gerenciar-dropdown {
    float: left;
    border-right: 1px solid gray;
}

#gerenciar-dropdown-content {
    top: 37px;
    float: left;
}

#gerenciar-dropdown:hover #gerenciar-dropdown-content {
    display: block;
}

main {
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
    
#wrapper > #snackbar {
    visibility: hidden;

    position: fixed;

    top: 20px;
    border-radius: 2px;
    padding: 16px;

    background: rgb(82, 82, 82);
    color: #FAFAFA;
    
    z-index: 1;
}

#snackbar > p {
    display: flex;
    margin: 0px;
    margin-right: 5px;
    float: left;
}

#snackbar > img {
    display: flex;
    width: 16px;
    height: 16px;
    float: right;
    margin: 3px auto;
}

#wrapper > #snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 14.5s;
}

@keyframes fadein {
    from {top: -100%; opacity: 0;}
    to {top: 20px; opacity: 1;}
}

@keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: -100%; opacity: 0;}
}

input {
    outline: none;
}

input:invalid {
    box-shadow: 0 0 2px 2px rgb(245, 154, 154);
}

input[type='text']:read-only {
    background: rgb(207, 207, 207);
    user-select: none;
}

img {
    width: 32px;
    height: 32px;
    margin: auto;
}

@keyframes formBlink {
    0% {background: rgb(192, 210, 243);}
    40% {background: none;}
    60% {background: rgb(192, 210, 243);}
    100% {background: none;}
}

form.blink {
    animation: formBlink 400ms;
}

form {
    font-weight: bold;
}

form header {
    margin-bottom: 10px;
}

form input:where(
    [type="text"],
    [type="password"]
) {
    height: 30px;
    width: 90%;
}

form select {
    height: 34px;
    padding: 1px;
    width: 274px;
}

form div {
    display: flex;
    flex-flow: row;
    font-size: 12px;
    margin-top: 5px;
}

form p {
    margin: auto;
    font-size: 12px;
    width: max-content;
}

#formCriar, #formEditar, #formLogin {
    min-width: 300px;
    max-width: 300px;

    margin: 60px auto 0px auto;
    padding: 20px 10px;

    border: 1px solid black;
}

#formLogin {
    margin-top: 20vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#formLogin input:where([type=text], [type=password]) {
    margin: 10px auto;
}

#formLogin #enviar {
    margin: 20px auto 0px auto;
}

input, select {
    font: inherit;
    margin: auto;
    border: 1px solid black;
}

:where(input, select):hover:not(:disabled) {
    box-shadow: 0 0 2px 2px rgb(192, 210, 243);
}

select option {
    font: inherit;
    background: white;
}

label:not(#mSenhaLabel) {
    display: flex;
    margin: 0px auto 0px 5%;
    margin-top: 10px;
}

form input:where([type="button"], [type="submit"]) {
    width: 80px;
    height: 34px;
}

#mSenhaLabel {
    margin-left: auto;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    user-select: none;
}

form #mSenha {
    margin-left: 4px;
    margin-right: 4%;
}

form :where(#criarEnviar, #editarEnviar) {
    margin: 10px auto 0px 4%;
    float: left;
}

form :where(#criarCancelar, #editarCancelar) {
    margin: 10px 4% 0px auto;
    float: right;
}

#criar {
    padding: 15px;
    font-size: 14px;
    max-width: 600px;

    width: 100%;
}

table {
    border-collapse: collapse;
    display: table;
    text-indent: initial;
    margin: auto;

    max-width: 600px;

    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
}

table tbody :where(td, th) {
    padding: 8px;
}

table thead th {
    padding: 13px;
}

table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

table tbody tr {
    border-top: 1px solid #dee2e6;
    font-size: 14px;
}

table tbody tr:hover {
    background: rgb(192, 210, 243);
}

.acoes {
    display: flex;
    flex-flow: row nowrap;
}

#pesquisar {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    min-width: 480px;
    max-width: 600px;
}

#pesquisar #pesquisa {
    float: left;
    margin-right: 10px;
}

#pesquisar #submit {
    width: 120px;
    float: right;
}

.paginador {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 14px;
    font-weight: bold;

    min-width: 490px;
    max-width: 600px;

    width: 100%;
}

.paginador:not(input) {
    cursor: default;
}

:where(#pagina, #maxpagina):disabled {
    background: transparent;
    color: inherit;
}

.paginador input:not(#pagina, #maxpagina) {
    margin: 0 10px;
    min-width: 85px;
    height: 34px;
    font: inherit;
}

#pagina, #maxpagina {
    min-width: 10px;
    margin: 0;
    height: 30px;
    border: none;
    outline: none;
    font: inherit;
}

#pagina {
    text-align: right;
}

#maxpagina {
    text-align: left;
}

#quantidade {
    font-size: 16px;
    font-weight: bold;
}